<style>
	p.player-list-item {
		margin: 0;
		margin-right: 24vw;
		overflow: hidden;
		float: left;
		color: #2d232e;
	}
	span {
		overflow: hidden;
		color: #e34543;
	}
	img {
		width: 32px;
		height: 32px;
	}
</style>

<p class="player-list-item"><img src=@($"/images/mascotts/{MascottIndex}.png") /> @Username</p>

@code {
	[Parameter]
	public string Username { get; set; }

	[Parameter]
	public int MascottIndex { get; set; }
}